{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Reset {%endblock%}
{% block meta_description %} ViewingSports - Password Reset {% endblock %}
{% block content %}

      <div class="d-flex justify-content-center password-reset-confirm">
        <div class="card shadow" style="width: 30rem;">
            <h1 class="text-center">Enter new password</h1>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <div class="card-body">
              {% if validlink %}
              <form method="POST" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="password-btn" name="button">Change my password</button>
              </form>
              {% else %}
                <p> Invaid token...</p>
                <p><a class="password-btn" href="{% url 'account:password_reset'%}"> Request a new password reset token</a> </p>
              {% endif %}
          </div>
        </div>
      </div>

      <script>
        document.getElementById("id_new_password1").placeholder = "New password";
        document.getElementById("id_new_password2").placeholder = "New password confirmation";
      </script>

{% endblock %}
