{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Community Guidelines {%endblock%}
{% block meta_description %} ViewingSports - review our guidelines to engage with our website. This page outline what you should or should not do on our website. {% endblock %}
{% block content %}

<div class="card container mt-3 guidelines">
  <div class="card-body">

    <h1 class="title">ViewingSports Community Guidelines </h1>

    <p>These guidelines are in line with our terms of use.

    If you have any questions regarding these guidelines, please contact us at <a href="#">email us</a>

    These guidelines are here to help users understand what we considered to be acceptable content on the website.</p>

    <div class="alert alert-warning" role="alert">
      Please note only football contents are allowed to be posted on our website.
    </div>

    <p>The rules set out below aim to encourge open & positive discussions and ensure that users engage with mutual respect.</p>
    <p>We want you to express your thought about this beautiful game - football, engage and participate in discussions in a mutual and respectful way.

      If you see something that has been posted by another user and that you think is inappropriate, please let us know right away by reporting the comment as set out below or <a href="#">email us</a>.
    </p>


    <p>These guidelines are applicable to all users and therefore must be read before signing up or posting a comment.</p>

    <h2 class="title1">Community Guidelines</h2>

    <p>ViewingSports welcomes and encourages all users to comment and share their opinion. However, certain comments will not be tolerated if they are not legal or do not add an interesting opinion, value, positivity, knowledge or constructive conversation.</p>

    <div class="alert alert-warning" role="alert">
      The comments that will not be tolerated and will be deleted without notice at our sole discretion include those that contain:
    </div>

    <ul>
      <li>Crude language including swear words and sexually explicit language</li>
      <li>Threatening, abusive or offensive language</li>
      <li>Racist language</li>
      <li>Sexist language</li>
      <li>Content in any other language but English</li>
      <li>Content that preaches, encourages or incites religious or ethnic hatred</li>
      <li>Content that links to websites that promote the above</li>
      <li>Knowingly false or misleading content</li>
      <li>Defamatory language and defamatory comments about others</li>
    </ul>

    <div class="alert alert-warning" role="alert">
      Content that will not be tolerated also includes:
    </div>
    <ul>
      <li>Personal information – yours or someone else’s</li>
      <li>Spam – the same content posted over and over either on the same contents or across different contents </li>
      <li>All external URLS linking to other content including:</li>
        <ol>
          <li>URLs and content that may be unsafe or contain material that such as viruses, files, programmes and code designed to corrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment connected to ViewingSports</li>
          <li>Advertising/sponsorship/external URLs for any commercial purpose</li>
        </ol>
      <li>All comments with images</li>
      <li>Petitions or solicitations for donations for campaigns</li>
      <li>Content that may prejudice both pending and on-going court proceedings</li>
      <li>Content that breaks the law or condones, encourages or provides instructions for illegal or otherwise harmful activities</li>
      <li>Copyright infringements or content that infringes other intellectual property rights</li>
      <li>Discussion on politics in any country</li>
    </ul>

  <p>In some cases, we may have to remove an entire segment of content, including messages that do not breach our terms, if it is part of a post or conversation that was in breach of our guidelines or no longer make sense without a deleted comment.
  For example, if we remove a racist comment, the responses will no longer be relevant and will be removed.</p>

  <h2 class="title1">Enforcement</h2>

  <p>ViewingSports reserves the right to permanently ban any account at our own sole discretion.

  Users who are persistent in posting untolerated content within their comments, according to our judgement, may have their accounts banned. This means that a user will find they are unable to comment on the ViewingSports on any post across the website.
  </p>

  <p>ViewingSports moderators may be forced to ban users as a result of the below actions:</p>
  <ul>
    <li>Posting content in breach of these guidelines on the website – even if posted once</li>
    <li>Continuously attempting to re-post comments that have been previously moderated and deleted</li>
    <li>Posting continuous argumentative and/or off post comments – ViewingSports encourages healthy debate but in a positive way</li>
    <li>Posting comments that harass, threaten or attack anyone or otherwise behave in any way that would cause annoyance or distress to others</li>
    <li>Posting content that is repeatedly abusive towards ViewingSports moderation team and abuse will not be tolerated</li>
    <li>Using offensive or inappropriate screen names</li>
    <li>Gaining unauthorised access to ViewingSports website, user accounts, computer system or networks connected to ViewingSports website</li>
    <li>Impersonating another person, whether a friend, family member, celebrity, moderator, another user of our services or an employee</li>
    <li>Registering or submitting content if you have been banned (for example with someone else’s account) without permission</li>
  </ul>

  <p>
  These rules are there to protect other users of ViewingSports and improve the community that we are so proud of. By virtue of this, we ask that you post responsibly without violating the above terms.

  You can help us maintain a positive and constructive conversation by flagging comments as set out below that you believe to be in violation or are offensive. These will be added to our moderation queue to review along with other comments picked by our system for potentially flouting our guidelines.
  </p>
  <p>
    Moderators have the right and responsibility to remove comments or other contributions that are not aligned to this Code of Conduct, or to suspend temporarily or permanently any members for other behaviors that they deem inappropriate, threatening, offensive, or harmful.
  </p>


  <h2 class="title1">Tips for comments</h2>

  <p>ViewingSports is invested in creating a valuable forum for African football fans and a place for individuals to read and share their opinions. Below we have set out some suggestions as to how to write an effective post and comment that won’t be moderated:</p>

  <ul>
    <li>Stay on the main topic of discussion</li>
    <li>Using welcoming and inclusive language</li>
    <li>Being open-minded and respectful to different viewpoints and experiences</li>
    <li>Gracefully accepting constructive criticism</li>
    <li>Focusing on what is best for the community</li>
    <li>Double check your message before you post it – you can go back to post and amend it. However, comments cannot be amended. So double check you comments or replies. </li>
  </ul>

  <p>In following these tips along with adhering to all of the Community Guidelines, it is very unlikely your comment will be moderated.</p>

  <h2 class="title1">Steps to report a comment</h2>

  <p>If you see a comment that you think is a violation of the Community Guidelines, here are the steps to take in order to report it:</p>

  <ol>
    <li>See the ‘flag’ icon next to the comment you want to report</li>
    <li>Press it and you will be given the option to Report Post</li>
  </ol>

  <p>
    Reporting content that is genuinely hurtful/harmful/offensive is a positive action and we appreciate users who flag such comments. It is anonymous to other users and this information will be strictly confidential.

    However, reporting comments that are not legitimate violations can impact how efficiently we are able to remove the actual violations. Disagreement with someone’s views is not a reason to report them.
  </p>


  <p>We may amend these guidelines or any of our terms to ensure we remain compliant with relevant laws and regulations and that we are constantly improving your use of our services.</p>

  </div>
</div>

{% endblock %}
