{% extends 'base.html' %}
{% block title %} Password Changed {%endblock%}
{% block meta_description %} ViewingSports password changed {% endblock %}
{% block content %}

<div class="container">

</div>

<div class="d-flex justify-content-center password-done">
    <div class="card shadow" style="width: 40rem;">
      <div class="card-body">
        <h2>Password changed now...</h2>
        <a class="password-btn" href="{% url 'account:dashboard' slug=user.username %}">Back to your profile</a>
        <a class="password-btn" href="{% url 'forum:post_list' %}">Back to discussion page </a>
      </div>
    </div>
</div>


{% endblock %}
