{% extends 'base.html' %}
{% block title %} Password Changed successfully {%endblock%}
{% block meta_description %} ViewingSports password {% endblock %}
{% block content %}

    <div class="d-flex justify-content-center password-reset-done">
        <div class="card" style="width: 40rem;">
          <div class="card-body">
            <h5 class="card-title">Password changed successfully! </h5>
            <p><a class="password-btn" href="{% url 'account:login'%}"> Login again</a></p>
          </div>
        </div>
    </div>
{% endblock %}
