{% extends 'base.html' %}
{% block title %} About ViewingSports {%endblock%}
{% block meta_description %} ViewingSports, best online football community. ViewingSports made for african football fan to enjoy top football league around the world. {% endblock %}
{% block content %}

    <div class="container mt-3 about">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h1 class="card-title">About ViewingSports</h1>
          <p class="card-text">
            ViewingSports is the best online community dedicated to <span id="africa">African football fans</span>. Bringing you the latest news, discussions, live scores & matches from the top football leagues around the world.
          </p>
          <h2 class="card-title1">Mission</h2>
          <ul>
            <li class="card-text">Providing trending stories, news, live matches and even streaming directly from your phone.</li>
            <li class="card-text">Promoting African Football league to the rest of the world.</li>
            <li class="card-text">Bringing fans together to our community </li>
          </ul>

          <h1 class="motto">FAN CLUB. ONE COMMUNITY. REAL FAN.</h1>


          <h2 class="card-title1">Team & Location</h2>
          <p class="card-text"> We are small team of dedicated football fans. We have no physical office, but we come together online each day
            to build this awesome products and community. </p>
            <p class="card-text">Our product is built for African football fans but we know football is enjoyed across the world, we will inform you of expansion plans into other markets.</p>
        </div>
      </div>
    </div>


{% endblock %}
