{% extends 'base.html' %}
{% block title %} Contact {%endblock%}
{% block meta_description %} How to contact ViewingSports?  {% endblock %}
{% block content %}

    <div class="container mt-3 contact">
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h1 class="card-title">GET IN TOUCH WITH US</h1>
          <p class="card-text">ViewingSports Community would like to hear from you! </p>
          <p class="card-text">Twitter: <a href="https://twitter.com/01Livestreaming">@01Livestreaming</a></p>
          <p class="card-text">Facebook: <a href="https://www.facebook.com/01Livestreaming/">@01Livestreaming</a></p>
          <p class="card-text">Email: <a href="mailto:joe@example.com?subject=Enquiry">email me</a></p>
          <p class="card-text">Phone contact:</p>
          <hr>
          <p class="card-text">Business Enquires</p>
          <p class="card-text">Advertise with us:  <a href="mailto:joe@example.com?subject=Enquiry">email me</a></p>


        </div>
      </div>
    </div>


{% endblock %}
