<!--terms.html-->
{% extends 'base.html' %}
{% block title %} ViewingSports Terms of Use {%endblock%}
{%block meta_description%} ViewingSports's Terms of Use {% endblock%}
{% block content %}

<div class="card container mt-3 terms">
  <div class="card-body">

    <h1 class="title">ViewingSports Terms of Use</h1>
    <h2 class="title1">1. Terms</h2>
    <p>By accessing this website, you are agreeing to be bound by these Terms of Use, Privacy Policy and Community Guidelines, all applicable laws and regulations,
      and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any
      of these terms, you are prohibited from using or accessing this site.
      The materials contained in ViewingSports are protected by applicable copyright and trademark law.</p>
    <h2 class="title1">2. Disclaimer</h2>
    <p>The materials on the ViewingSports’s website are provided 'as is'. ViewingSports makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
      Furthermore, ViewingSports does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>
    <h2 class="title1">3. Limitations</h2>
    <p>In no event shall ViewingSports be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on the Viewingsports’s website, even if ViewingSports or an authorized of the ViewingSports has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
    <h2 class="title1">4. Copyright & Takedown</h2>
    <p>Users agree and certify that they have rights to share all content that they post on ViewingSports— including, but not limited to, information posted in discussions and comments. Users assume all risk for the content they post, including someone else's reliance on its accuracy, claims relating to intellectual property, or other legal rights. </p>
    <h2 class="title1">5. Trademark and Logos Policy</h2>
    <p>All uses of the ViewingSports logo, brand slogans, iconography, and the like, may only be used with express permission from ViewingSports. ViewingSports reserves all rights on their assets. Please contact <a href="#">email us</a> with any questions or to request permission.</p>
    <h2 class="title1">6. Content Policy</h2>
    <p>The following policy applies to comments, posts, and all other works shared on the ViewingSports platform:</p>
    <ul>
      <li>Users must make a good-faith effort to share content that is on-topic, of high-quality, and is not designed primarily for the purposes of promotion or creating backlinks.</li>
      <li>Posts must contain substantial content — they may not merely reference an external link that contains the full post.</li>
      <li>If a post contains affiliate links, that fact must be clearly disclosed.</li>
    </ul>
    <p>ViewingSports reserves the right to remove any content that it deems to be in violation of this policy at its sole discretion as highlighted in <a href="{% url 'forum:guidelines'%}">Community Guidelines</a>. </p>
    <h2 class="title1">7. Revisions and Errata</h2>
    <p>The materials appearing on the ViewingSports’s website may include technical, typographical, or photographic errors. ViewingSports does not warrant that any of the materials on its website are accurate, complete, or current. ViewingSports may make changes to the materials contained on its website at any time without notice. ViewingSports does not, however, make any commitment to update the materials.</p>
    <h2 class="title1">8. Links</h2>
    <p>ViewingSports has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ViewingSports on the site. Use of any such linked website is at the user's own risk.</p>
    <h2 class="title1">9. Modifications of Terms of Use</h2>
    <p>ViewingSports may revise these Terms of Use for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these Terms of Use.</p>
    <h2 class="title1">10. Governing law</h2>
    <p>Any claim relating to the ViewingSports’s website shall be governed by the laws of the ViewingSports Owner’s home jurisdiction without regard to its conflict of law provisions.</p>
  </div>
</div>


{% endblock %}
